@{
    ViewBag.Title = "PassUsingViewBag";
}

<h1>PassUsingViewBag</h1>
<div style="font-weight:bold">Rand value first : @ViewBag.calc.RandValueFirst</div>
<div style="font-weight:bold">Rand value second : @ViewBag.calc.RandValueSecond</div>
<div style="font-weight:bold">Add:</div>
<div>@ViewBag.calc.Add</div>
<div style="font-weight:bold">Sub:</div>
<div>@ViewBag.calc.Sub</div>
<div style="font-weight:bold">Mult:</div>
<div>@ViewBag.calc.Mult</div>
<div style="font-weight:bold">Div:</div>
<div>@ViewBag.calc.Div</div>