
@{
    ViewData["Title"] = "PassUsingModel";
}



<h1>PassUsingModel</h1>
<div style="font-weight:bold">Rand value first : @Model.RandValueFirst</div>
<div style="font-weight:bold">Rand value second : @Model.RandValueSecond</div>
<div style="font-weight:bold">Add:</div>
<div>@Model.Add</div>
<div style="font-weight:bold">Sub:</div>
<div>@Model.Sub</div>
<div style="font-weight:bold">Mult:</div>
<div>@Model.Mult</div>
<div style="font-weight:bold">Div:</div>
<div>@Model.Div</div>

